body {
    /* 1,2=altura e cor da página . 3-grid para organizar a pagina */
    /* grid template rows para organizar em linhas (100px 1fr 100px é o tamanho que defenimos pra cada um na ordem =header,main,footer */
    /*  */
    height: 100vh;
    background-color: #76045d;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Montserrat', sans-serif;
}

header {
    /*  */
    grid-area: header;
    /* background-color: aliceblue;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "description product sociais";
    grid-template-columns: 380px 1fr 48px;
    padding: 0 100px;
}

footer {
    grid-area: footer;
    display: flex;
    gap: 2px;
}